<a href="https://colab.research.google.com/github/Raoarvindersingh/CODSOFT_L1_T3/blob/master/Copy_of_Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

Dta collection and Processing

In [ ]:
1 # loading the data from csv file to pandas dataframe
car_dataset = pd.read_csv('/content/car data.csv')

In [ ]:
1 # inspecting the first 5 rows of the dataframe
car_dataset.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [ ]:
1 # cheacking the number of rows and columns
car_dataset.shape

(301, 9)

In [ ]:
1 # getting some informatiion about the dataset
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [ ]:
1 # checking the number of missing values
car_dataset.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [ ]:
1 # checking the distribution of categorical data
print(car_dataset.Fuel_Type.value_counts())
print(car_dataset.Seller_Type.value_counts())
print(car_dataset.Transmission.value_counts())

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64
Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64
Transmission
Manual       261
Automatic     40
Name: count, dtype: int64

Encoding the Categrical Data

In [ ]:
1 # encoding "Fuel_Type"Coluom
car_dataset.replace({'Fuel_Type':0{'Petrol':0,'Diesel':1'CNG':2}},inplace=True)

1 # encoding "Seller_Type"Coluom
car_dataset.replace({'Fuel_Type':0{'Petrol':0,'Diesel':1'CNG':2}},inplace=True)

1 # encoding "Transmission"Coluom
car_dataset.replace({'Fuel_Type':0{'Petrol':0,'Diesel':1'CNG':2}},inplace=True)

In [ ]:
car_dataset.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

Splitting the data into Target

In [ ]:
X = car_dataset.drop(['Car_Name','Selling_Price'],axis=1)
Y = car_dataset['Selling_Price']

In [ ]:
print (X)

     Year  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0    2014           5.59       27000    Petrol      Dealer       Manual      0
1    2013           9.54       43000    Diesel      Dealer       Manual      0
2    2017           9.85        6900    Petrol      Dealer       Manual      0
3    2011           4.15        5200    Petrol      Dealer       Manual      0
4    2014           6.87       42450    Diesel      Dealer       Manual      0
..    ...            ...         ...       ...         ...          ...    ...
296  2016          11.60       33988    Diesel      Dealer       Manual      0
297  2015           5.90       60000    Petrol      Dealer       Manual      0
298  2009          11.00       87934    Petrol      Dealer       Manual      0
299  2017          12.50        9000    Diesel      Dealer       Manual      0
300  2016           5.90        5464    Petrol      Dealer       Manual      0

[301 rows x 7 columns]

In [ ]:
print (Y)

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

Splitting Training and Test data

In [ ]:
x_train, x_test, Y_train, Y_test = train_test_split(x, Y, test_size = 0.1, random_state=2)

NameError: name 'x' is not defined

Model Traning

    1. Linear Regression

In [ ]:
# loading the linear regression model
lin_reg_model = linearRegression()

In [ ]:
lin_reg_model.fit(X_train,Y_train)

NameError: name 'lin_reg_model' is not defined

Model Evaluation

In [ ]:
1 # prediction on Training data
training_data_prediction = lin_reg_model.predict(X_train)

In [ ]:
1 # R squared Error
error_score = metrics.r2_score(Y_train, training_data_prediction)
print("R squared Error : ", error_score)

NameError: name 'Y_train' is not defined

Visualize the actual prices and predicted price

In [ ]:
plt.scatter(Y_train, training_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title("Actual Prices vs Predicted Prices")
plt.show()

NameError: name 'Y_train' is not defined

In [ ]:
1 # prediction on Training data
test_data_prediction = lin_reg_model.predict(X_train)

In [ ]:
1 # R squared Error
error_score = metrics.r2_score(Y_train, test_data_prediction)
print("R squared Error : ", error_score)

NameError: name 'Y_train' is not defined

In [ ]:
plt.scatter(Y_train, test_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title("Actual Prices vs Predicted Prices")
plt.show()

2. lasso Regression